<!-- Copied the css and main structure from Dashboard.html for smooth transition-->
{% extends "base_map.html" %}
{% block head %}

    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #dashboard-top-spacer {
            height: 25px;
        }

        #referrals .leaderboard_points {
            margin-top: 5px;
        }

        .well { height: 380px; overflow: hidden; }

        .dashboard-tip-spot {
            position: absolute;
            z-index: 50;
            bottom: 30px;
            right: 20px;
            height: 26px;
            width: 26px;
            margin-top: 0px;
            padding-top: 3px;
            border-radius: 13px;
            text-align: center;
            background-color: #E6E7E8;
            color: #A7A9AB;
        }

        @media (max-width: 768px) {
          .dashboard-tip-spot { bottom: 10px; }
        }

        .dashboard-tip-spot-content {
            display: none;
        }

        .warning-button {
            display: block;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #47bccc;
            border-radius: 5px;
            background-color: #47c1d2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }
        .tier {
          width: 25px;
          height: 25px;
          float: right;
          border-radius: 50%;
          margin: 0 5px;;
        }

        .tier.carbon {
          background: #43464b;
        }

        .tier.bronze {
          background: #cd7f32;
        }

        .tier.silver {
          background-color: #c0c0c0;
        }

        .tier.gold {
          background-color: #ffd700;
        }

        .tier.platinum {
          background-color: #e5e4e2;
        }

        .modal {
          display: none; 
          position: fixed; 
          z-index: 1; 
          padding-top: 100px; 
          left: 0;
          top: 0;
          width: 100%; 
          height: 100%; 
          overflow: auto; 
          background-color: rgb(0,0,0); 
          background-color: rgba(0,0,0,0.5); 
        }

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {background-color: #f2f2f2;}

    </style>
{% endblock %}
{% block body %}
<div class="container">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Tier</th>
      <th>Point Balance</th>
      <th>Ph # </th>
    </tr>
    {% for user in users %}
    <tr>
      <td>
        {% if user.location %}
          <a id="username" data-toggle="modal" data-location="{{ user.loc }}" data-name="{{ user.name }}">{{user.name}}</a>
        {% else %}
          {{user.name}}
        {% endif %}
      </td>
      <td><span>{{ user.tier }}</span>
        <span class="tier {{ user.tier.lower() }}"></span></td>
      <td>{{ user.points }}</td>
      <td>
        {% for phone in user.phone %}
        <p>{{ phone }}</p>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="modal" id="loc-modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="modal-header" id="modal-header">
    </div>
    <div class="modal-body">
    </div>
  </div>
</div>


<script>
  const users = document.querySelectorAll('#username');
  console.log(users)
  const modal = document.getElementById('loc-modal');
  const closeButton = document.getElementsByClassName('close')[0];
  const header = document.getElementsByClassName('modal-header')[0];
  const body = document.getElementsByClassName('modal-body')[0];

  users.forEach((user) => {
    user.addEventListener('click', openModal)
  })
span.onclick = function() {
    modal.style.display = "none";
}
  window.onclick = function(e) {
    if (e.target === modal) {
      modal.style.display = "none";
    }
  }

  function openModal(e) {
      modal.style.display = "block";
      let name = document.createTextNode(`${e.target.dataset.name}'s Location:`);
      let location = e.target.dataset.location.length > 0 ? e.target.dataset.location : `${e.target.dataset.name}'s location is unavailable`;
      let loc = document.createTextNode(location);
      header.removeChild(header.childNodes[0]);
      header.appendChild(name);
      body.removeChild(body.childNodes[0]);
      body.appendChild(loc);
  }
</script>

{% endblock %}